<div class="d-flex justify-content-end">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="mt-3">
    <div>
        <app-input-select label="Send amount" [inputControl]="sendControl"></app-input-select>
        <app-input-select label="Recipient gets" [inputControl]="sendControl"></app-input-select>
    </div>
    <app-details-display title="Fees" [value]="fees | currency: 'USD'"></app-details-display>
    <app-details-display title="Transfer time" value="Within Minutes"></app-details-display>
    <hr />
    <app-details-display title="Amount to pay" [value]="toBePaid | currency: 'USD'"></app-details-display>
    <app-details-display title="Recipient gets" [value]="sendControl.value | currency: 'USD'"></app-details-display>
</div>
<button class="button" mat-flat-button color="primary" (click)="onSubmit()">Send money</button>