<div class="d-flex justify-content-end">
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="mt-3">
    <div>
        <app-input-select label="Send amount" [inputControl]="sendControl"></app-input-select>
        <div data-v-0c3734d7="" class="d-flex justify-content-center my-1">
            <span data-v-0c3734d7="" class="send-badge px-4 py-2 text-sm font-bold rounded-primary">
                <span data-v-0c3734d7="" class="send-badge-text">
                    1 USD =
                        1
                    USD
                </span>
            </span>
        </div>
        <app-input-select label="Recipient gets" [inputControl]="sendControl"></app-input-select>
    </div>
    <app-details-display title="Fees" [value]="fees | currency: 'USD'"></app-details-display>
    <app-details-display title="Transfer time" value="Within Minutes"></app-details-display>
    <hr />
    <app-details-display title="Amount to pay" [value]="toBePaid | currency: 'USD'"></app-details-display>
    <app-details-display title="Recipient gets" [value]="sendControl.value | currency: 'USD'"></app-details-display>
</div>
<button class="btn btn-primary w-100 btn-sm" (click)="onSubmit()">Send money</button>