/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }


body{
    font-family: Lora, sans-serif;
}

.mat-form-field-infix{
    display: flex !important;
}

.button{
    display: block!important;
    width: 100%;
}

.form-input{
    display: block!important;
}

h4, p{
    margin: 0!important;
}

.list-modal-panel{
    max-width: 180vw !important;
    position: absolute !important;
    height: 100vh !important;
    right: 0;
}

.btn{
    font-family: Poppins, sans-serif;
    padding: 20px 60px;
    border-radius: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.btn-sm{
    font-size: 16px;
    padding: 10px 0;
    text-transform: none;
}

.send-modal-panel .mat-dialog-container{
    border-radius: 20px;
}