<div id="home">
    <div class="dim"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center wrapper">
                <h1>Send money to those that matter</h1>
                <h2 class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt nisi atque, quis deleniti itaque nulla nostrum dolorem ipsam voluptate sequi minima doloremque amet aliquid</h2>
                <button (click)="openDialog('0ms', '0ms')" class="btn btn-primary">
                    Send Now
                </button>
            </div>
        </div>
    </div>
</div>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center gradient-backround">
                <h1>Become a global Citizen</h1>
                <h2 class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam esse pariatur modi, at officiis magnam laborum asperiores iste vero corporis, sit labore maxime, possimus dignissimos voluptate quae ex illo explicabo!</h2>
                <button (click)="openDialog('0ms', '0ms')" class="btn btn-primary">
                    Send Now
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Lorem ipsam, dolor sit amet</h1>
                <h2 class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab dolores aspernatur dolore nihil consectetur explicabo dignissimos reprehenderit necessitatibus laudantium, vero iusto, debitis accusantium quidem architecto doloremque exercitationem quos dolor ratione.</h2>
                <button class="btn btn-primary mt-4">
                    Learn more
                </button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center mb-5">Frequently asked questions</h1>                        
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let i of arrs">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Lorem ipsum dolor sit amet consectetur
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, maiores et possimus voluptatem, magnam quam enim nesciunt eius, natus accusamus explicabo vel recusandae illum! Sapiente veniam accusamus magnam odit cumque.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</section>