<div id="home">
    <div class="dim"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center wrapper">
                <h1>Send money to those that matter</h1>
                <h2 class="mt-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt nisi atque, quis deleniti itaque nulla nostrum dolorem ipsam voluptate sequi minima doloremque amet aliquid</h2>
                <button (click)="openDialog('0ms', '0ms')" class="btn btn-primary">
                    Send Now
                </button>
            </div>
        </div>
    </div>
</div>